* {
    padding: 0;
    margin: 0;
    /* background-color: rgb(51, 58, 65) !important; */
}

body {
    background-image: url("https://picsum.photos/id/1004/1900");
    height: 100%;
    /* background-color: rgb(139, 143, 146); */
}

.logo {
    color: white;
    font-size: 60px;
}

.navbar {
    padding: 25px 40px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 60px;
    letter-spacing: 5px;
}

.intro {
    color: white;
}

/* .features {
    background-color: rgb(51, 58, 65);
    padding-top: 50px;
}

.row {
    padding: 50px 0;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
} */

.container {
    padding-top: 100px;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.content {
    text-align: center;
}

.content p {
    padding-top: 40px;
}

.form {
    padding-top: 20px;
}

.form p {
    font-size: 14px;
    letter-spacing: 1px;
}

.form input {
    width: 300px;
    height: 35px;
    border: none;
    padding-right: 40px;
    margin: 20px 0;
    border-radius: 5px;
    /* opacity: 60%; */
    text-indent: 10px;
    background-color: white;
}

.form input:focus {
    border-color: white;
}

.form button {
    width: 150px;
    height: 35px;
    border: none;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(69, 221, 196);
    color: black;
    font-size: 14px;
}

/* features */

.features {
    padding: 50px;
    margin-top: 100px;
    letter-spacing: 7px;
    text-transform: uppercase;
    background-color: rgb(196, 192, 192);
}

.features p {
    color: black;
    padding-top: 10px;
    padding-bottom: 30px;
    text-transform: none;
    text-align: center;
}

.features h5 {
    padding-top: 30px;
}

.features img {
    border-radius: 50%;
    width: 200px;
}

.images {
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 50%;
}

/* https://img.freepik.com/free-vector/headphone-concept-illustration_114360-2132.jpg?size=338&ext=jpg

https://img.freepik.com/free-vector/man-dancing-listening-music_23-2148538028.jpg?size=338&ext=jp

https://img.freepik.com/free-vector/kid-doing-dabbing-with-radio_23-2147865303.jpg?size=338&ext=jpg

https://img.freepik.com/free-vector/hand-drawn-people-dancing-set_23-2148127020.jpg?size=338&ext=jpg

https://img.freepik.com/free-vector/music-concept-illustration_114360-1185.jpg?size=338&ext=jp

https://img.freepik.com/free-vector/couple-dance-disco-avatar-character_24911-53254.jpg?size=338&ext=jpg */
